{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container pb-5 pt-5" id="inscription">

    <div class="row pb-5 ">
     <div class="card custom-box-shadow">
        <div class="col-12 justify-content-center py-5">
            <h1 class="text-center">Inscription</h1>
        </div>
    </div>
    </div>
     {{ form_start(form) }}
     <div class="card custom-box-shadow">
    <div class="row justify-content-center">
   
        <div class="col-lg-6">
        
           
            {{ form_row(form.nom_patient,{'label_attr': {'class': 'label-large'}}) }}
            {{ form_row(form.prenom_patient,{'label_attr': {'class': 'label-large'}}) }}
            {{ form_row(form.adresse_patient,{'label_attr': {'class': 'label-large'}}) }}
            {{ form_row(form.complement_adresse_patient,{'label_attr': {'class': 'label-large'}}) }}
            {{ form_row(form.code_postal_patient,{'label_attr': {'class': 'label-large'}}) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.ville_patient,{'label_attr': {'class': 'label-large'}}) }}
            {{ form_row(form.telephone_patient,{'label_attr': {'class': 'label-large'}}) }}
            {{ form_row(form.email,{'label_attr': {'class': 'label-large'}}) }}
            {{ form_row(form.password,{'label_attr': {'class': 'label-large'}, 'attr': {'autocomplete': 'current-password'}}) }}
       

{# {{ form_label(form.password)   }}
{{ form_widget(form.password)   }}
{{ form_errors(form.password)   }} #}

         {{ form_widget(form.date_creation_patient, {'label': false, 'attr': {'hidden': 'true'}}) }}
                    
      {{ form_row(form.date_fin_patient, {'label': false, 'attr': {'hidden': 'true'}}) }}
   {{ form_widget(form.submit, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}


        </div>
    </div>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}